<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #fff;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 40px auto;
        padding: 48px 40px;
        background-color: #eef1f5;
        border-radius: 8px;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 24px;
        color: #000;
      }
      p {
        font-size: 14px;
        color: #000;
        line-height: 1.6;
        margin: 0 0 20px;
      }
      .button {
        display: inline-block;
        /* background-color: #0052cc; */
        color: #0052cc;
        font-size: 14px;
        text-decoration: none;
        /* padding: 12px 24px; */
        border-radius: 6px;
        font-weight: bold;
        margin: 0px 0 24px;
      }
      .footer {
        font-size: 14px;
        color: #000;
        margin-top: 32px;
        line-height: 1.5;
      }
      .footer strong {
        font-weight: bold;
      }
      .contact-info {
        margin-top: 24px;
        font-size: 14px;
      }
      .contact-info p {
        margin: 4px 0;
      }
      .contact-info a {
        color: #0052cc;
        text-decoration: none;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Reset password</h1>
      <p>Hello,</p>
      <p>
        We received a request to reset your password for your account. If you
        made this request, please click the button below to set a new password.
        <a href="<%= link %>" class="button">Reset password</a>
      </p>
      <p>
        If you did not request a password reset, please ignore this email. Your
        current password will remain unchanged.
      </p>
      <p>For security reasons, this link will expire in 15 minutes.</p>
      <div class="footer">
        <p>
          This is an automated email from <strong><%= companyName %></strong>.
          <strong
            >Please do not reply to this message, as replies will not be
            monitored.</strong
          >
          If you need assistance, contact
          <strong><%= companyName %></strong> directly.
        </p>
      </div>
      <div class="contact-info">
        <p><strong>Contact Information:</strong></p>
        <p><%= companyName %></p>
        <p><%= organizationNumber %></p>
        <p><a href="mailto:<%= companyEmail %>"><%= companyEmail %></a></p>
        <p><a href="tel:<%= companyPhone %>"><%= companyPhone %></a></p>
      </div>
    </div>
  </body>
</html>
